.carouselImg{
    height: 500px;
    width: 100%;
}
.BannerSection{
    align-items: center;
}
.BannerSections{
    background-color: #fbeddf;
}

.BannerText{
    text-align: left;
}
.BannerText button{
    background-color: #829c34;
    padding: 10px 15px ;
    border-radius: 8px;
    color: white;
    border: none;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    cursor: pointer;
}
.BannerText h1{
    font-size: 30px;
}
.BannerText button:hover{
    background: white;
    color: black;
    border: .5px solid #829c34;
}
.profile{
    margin: 15px 0;
}
